* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #d6c7c7;
    text-align: center;
    font-size: 32px;
    font-family: Helvetica;
    color: #d34e4e;
}

main {
    position: relative;
    top: 3rem;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 2rem;
    margin-top: 0;
    padding: 0.5rem;
    background-color:#e26767;
}

nav li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: #802d2d;
    font-weight: bold;
}

header h1 {
    position: relative;
    top: 2.5rem;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;

}

p {
    font-size: 1rem;
    color:#802d2d;
    margin: 1rem;
}

