body {
    background-color: #d6c7c7;
}

nav li {
    text-decoration: none;
    display: inline-block;
}

p {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #d34e4e;
    font-family: Helvetica;
}

